{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Content -->
<section>
	<header class="main">
		<h1>{{ recipe.title }}</h1>

	</header>

	<span class="image main"><img src="{{ recipe.get_image }}" style="width: auto; height: auto;" alt="" /></span>

	<p>Добавлено: {{ recipe.created }}</p>
	<p>Автор: {{ recipe.user.username }}</p>
	<p>Время приготовленя: {{ recipe.cooking_time }} минут</p>

	<hr class="major" />
	{% for image in images %}
	<img src="{{ image }}" style="width:250px; height: 250px;" class="img-thumbnail" alt="...">
	{% endfor %}
	<h2>Пошаговый рецепт: </h2>
	<p>{{ recipe.description }}</p>
	{% if request.user.is_superuser %}
	<a href="{% url 'update-recipe' recipe.id %}"><i class="fas fa-edit"></i></a>
	<a href="{% url 'delete-recipe' recipe.id %}"><i class="fas fa-trash-alt"></i></a>
	{% endif %}
	<hr>
	<a href="{% url 'comments' recipe.id %}" class="btn btn-primary mr-2">Добавить комментарии</a>

	<h3 style="margin-top: 2%;">Comments:</h3>
		{% if not recipe.comments.all %}
		Комментариев нет.
		<br>
		{% else %}
		<br>
		{% for comment in recipe.comments.all %}
		<strong>
			{{ comment.name }} - {{ comment.created }}
		</strong>
		<br>
		{{ comment.body }}
		<br>
		{% endfor %}
		{% endif %}





</section>

{% endblock %}